{% extends 'base.html' %}
{% block title %}
Register | {{ block.super }}
{% endblock title %}


{% block content %}
<form  method="POST">
    {% csrf_token %}

    <h2 style="color: red;">{{form}}</h2>

    <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="name" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <label for="password"><b>Confirm Password</b></label>
        <input type="password" placeholder="Confirm Password" name="password2" required>

        <button type="submit">Register</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>
</form>
{% endblock content %}