{% extends 'base.html' %}
{% block title %}
Vazifalar | {{ block.super }}
{% endblock title %}


{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <label for="basic-url" class="form-label">Vazifalarni Kiriting</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="basic-url" name="work" aria-describedby="basic-addon3"
            placeholder="Vazifalarni Kiriting" style="color: green;">
        <input type="submit" value="Vazifa qo'shish" class="btn btn-success">
    </div>
</form>
<div class="mt-2" style="padding-left: 10px;">
    {% for todo in todos %}
    <h5>{{todo.created_at}}</h5>
    <h3>{{todo.todo}}</h3>
    <a href="/update/{{request.user}}/{{todo.id}}" class="btn btn-success">Yangilash</a>
    <a href="/delete/{{request.user}}/{{todo.id}}" class="btn btn-danger">O'chirish</a>
    {% endfor %}
</div>
{% endblock content %}